<!doctype html>
<html>
{% set css %}
  {% include "style.css" %}
{% endset %}
<style>
  {{ css | autoprefixer | cssmin | safe }}
</style>
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta name="robots" content="noindex,nofollow">
<meta name="description" content="Say HI at all the events... :)">
<head>
  <title>Meet Stefan Judis</title>
</head>

<body>
  <main>
    <img class="profileImg"
      src="{{ me.fields.profilePhoto.fields.file.url }}?w=120"
      srcset="{{ me.fields.profilePhoto.fields.file.url }}?w=120,
             {{ me.fields.profilePhoto.fields.file.url }}?w=180 1.5x,
             {{ me.fields.profilePhoto.fields.file.url }}?w=240 2x"
      alt="Stefan Judis looking at a screen">
    <h1>{{ me.fields.name  }}</h1>
    <h2>{{ me.fields.title }}</h2>
    <div class="container">
      <a class="cta" href="">Say hi at the event...</a>
      <p>{{ me.fields.biography | markdown | safe }}</p>

      <ul>
        <li><a href="{{ me.fields.twitterProfile }}">Stefan on Twitter</a></li>
        <li><a href="{{ me.fields.githubProfile }}">Stefan on GitHub</a></li>
        <li><a href="{{ me.fields.website }}">Stefan's blog</a></li>
      </ul>
    </div>
  </main>
</body>

</html>